@{
  Layout = "_Layout";
}

@model Registrar.Models.Student


<h4>Add a new Student</h4>

@using (Html.BeginForm())
{
  @Html.Label("StudentName", "Student Name")
  @Html.TextBoxFor(model => model.StudentName)
  @Html.Label("DateOfEnrollment", "Date of Enrollment")
  @Html.TextBoxFor(model => model.DateOfEnrollment)

  <input type="submit" value="Add a new Student" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Students", "Index")</p>