@{
  Layout = "_Layout";
}

@using Registrar.Models
@model Registrar.Models.Student

<h2>Student Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StudentName): @Html.DisplayFor(model => model.StudentName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Student does not have any courses yet</p>
}
else
{
  <h4>Courses this student is enrolled in:</h4>
  <ul>
    @foreach(StudentCourse join in Model.JoinEntities)
    {
      <li>Course: @join.Course.CourseName</li>
      @using (Html.BeginForm("DeleteJoin", "Students"))
      {
        @Html.Hidden("joinId", @join.StudentCourseId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to List of Students", "Index")</p>
<p>@Html.ActionLink("Edit Student", "Edit")</p>
<p>@Html.ActionLink("Add a Course", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Remove Student", "Delete", new { id = Model.StudentId})</p>